<h1>Questionnaire</h1>

<form #userlogin = "ngForm" (ngSubmit) = "onClickSubmit(userlogin.value)" >

  <h1>What is your age? ?</h1>
  <div class="radio" *ngFor = "let age of ages">
    <label>
      <input type="radio"
             name="gender"
             ngModel
             [value]="age">
      {{age}}
    </label>

  </div>

  <h1>What must be the intensity of your fitness?</h1>
  <div class="radio" *ngFor = "let intense of intenses">
    <label>
      <input type="radio"
             name="intense"
             ngModel
             [value]="intense">
      {{intense}}
    </label>

  </div>


  <h1>How would you like to improve fitness ?</h1>
  <div class="radio" *ngFor = "let fitness of fitness">
    <label>
      <input type="radio"
             name="fitness"
             [value]="fitness"
      >
      {{fitness}}
    </label>

  </div>

  <input type = "submit" value = "submit">
</form>




