<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <ul class="nav nav-tabs">
        <li role="presentation" class="active"  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" ><a routerLink="/">Home</a></li>
        <li role="presentation" class="active"  routerLinkActive="active"><a routerLink="/Fitness">Fitness</a></li>

      </ul>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <!--  <app-active-users></app-active-users>
   <app-inactive-users></app-inactive-users>!-->


    <router-outlet></router-outlet>

  </div>
</div>




<!--

-->
